<nav class="navbar is-dark">
  <div class="navbar-brand" routerLink="">
    <a class="navbar-item" >

    </a>

  </div>


  <div class="navbar-menu">
   <div class="navbar-start">
      <a class="navbar-item" routerLink="">
        Home
      </a>

     <a class="navbar-item" routerLink="student">
      Student
     </a>

     <a class="navbar-item" routerLink="lecture">
      Lecture
     </a>

     <a class="navbar-item" routerLink="course">
      Course
     </a>

     <a class="navbar-item" routerLink="module">
       Module
     </a>
   </div>
  </div>
</nav>
<router-outlet></router-outlet>
